<div class="row">
  <div class="col-md-4">
    <img src="{{ mov.Poster }}" [alt]="mov.Title" />
  </div>

  <div class="col-md-8">
    <h3>{{ mov.Title }}</h3>
    <table>
        <tr>
            <td>Año: </td>
            <td>
              {{ mov.Year }}
            </td>
          </tr>
      <tr>
        <td>Director: </td>
        <td>
          {{ mov.Director }}
        </td>
      </tr>

      <tr>
        <td>Reparto: </td>
        <td>
          {{ mov.Actors  }}
        </td>
      </tr>

     
    </table>
  </div>
</div>
